<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132470415583-3snsvdubc1pdpi0rsh56tai3thuupgne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132470415583-3snsvdubc1pdpi0rsh56tai3thuupgne</string>
	<key>API_KEY</key>
	<string>AIzaSyDqnpIXdAu6XCNeFdKwWvVvQxWCLvc9eBY</string>
	<key>GCM_SENDER_ID</key>
	<string>132470415583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>kettik-19d03</string>
	<key>STORAGE_BUCKET</key>
	<string>kettik-19d03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132470415583:ios:fbdaf672958f322dba496a</string>
</dict>
</plist>